.country-detail {
  margin: 20px auto;
  width: 80%;
  max-width: 900px;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #7f5af0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #624bd6;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 img {
  width: 40px;
}

.country-info {
  margin-bottom: 20px;
}

.country-tag {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.country-info p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.tag {
  display: inline-block;
  background-color: #8dd4cc;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.info-inline {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  margin: 20px 0;
}

.inline-item {
  flex: 1;
}

.inline-label {
  font-size: 18px;

  color: #000;
  margin-bottom: 5px;
}

.inline-value {
  font-size: 48px !important;
  font-weight: bold;
  color: #7f5af0 !important;
  margin: 5px 0;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #4a4a4a;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  white-space: nowrap;
}

.tooltip p {
  margin: 0;
  font-size: 14px;
  color: #ffffff !important;
}

.tooltip-container:hover .tooltip {
  display: block;
}

.link {
  color: #7f5af0;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.inline-item p {
  margin: 5px 0;
  font-size: 16px;
  color: #000;
}

.cards-container {
  display: flex;
  gap: 70px;
  margin: 20px 0;
}

.card-item {
  flex: 1;
}

.cards-container .info-card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
